/** -- Projeto Desenvolvido por Thais Oliveira | @criandositespro | contato@criandositespro.com.br -- **/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.showcase {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
    background-image: url(../img/imagem-homem-celular.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}

.showcase-content {
    margin: auto;
    text-align: center;
    width: 50%;
}
.showcase-content h1 {
    font-size: 3rem;
    text-transform: uppercase;
    background-color: yellow;
    border-radius: 50px;
    margin-bottom: 2rem;
    font-weight: bold;
}

.showcase-content p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 48px;
    color: #fff;
   }

.showcase-content span {
    background-color: yellow;
    padding: 2px 14px;
    border-radius: 50px;
    color: #000;
}

@media only screen and (min-width:320px) {
    .showcase-content {
        width: 85%;
    }

    .showcase-content h1 {
        font-size: 1.5rem;
    }
    
    .showcase-content p {
        font-size: 0.8rem;
        line-height: 24px;
    }

}

@media only screen and (min-width:480px) {
    .showcase-content {
        width: 85%;
    }

    .showcase-content h1 {
        font-size: 1.8rem;
    }
    
    .showcase-content p {
        font-size: 1rem;
        line-height: 28px;
    }

}

@media only screen and (min-width:600px) {
    .showcase-content {
        width: 85%;
    }

    .showcase-content h1 {
        font-size: 2.5rem;
    }
    
    .showcase-content p {
        font-size: 1.5rem;
        line-height: 40px;
    }

}

@media only screen and (min-width:800px) {
    .showcase-content {
        width: 85%;
    }

    .showcase-content h1 {
        font-size: 3rem;
    }
    
    .showcase-content p {
        font-size: 1.8rem;
        line-height: 52px;
    }

}

@media only screen and (min-width:1020px) {
    .showcase-content {
        width: 85%;
    }

    .showcase-content h1 {
        font-size: 2.5rem;
    }
    
    .showcase-content p {
        font-size: 1.5rem;
        line-height: 40px;
    }

}

@media only screen and (min-width:1280px) {
    .showcase-content {
        width: 55%;
    }

    .showcase-content h1 {
        font-size: 3rem;
    }
    
    .showcase-content p {
        font-size: 1.5rem;
        line-height: 48px;
    }

}
