* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat";
    color: rgb(56,56, 56);
    vertical-align: middle;
}

img {
    max-width: 50%;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper h1 {
    font-size: 6rem;
    color: rgb(228,76,13);
    margin-top: 32px;
}

.wrapper .message {
    font-size: 2.5rem;
    padding-bottom: 32px;
    text-align: center;
    font-weight: bold;
}

.btn {
    background: rgb(228,76,13);
    text-decoration: none;
    font-size: 1rem;
    padding: 16px 32px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    border: 2px solid rgb(228,76,13);
    margin-top: 10px;
}

.btn:hover {
    background: transparent;
    border: 2px solid rgb(228,76,13);
    color: rgb(60, 60, 60);
}

.copyRights {
    margin-top: 50px;
    margin-bottom: 32px;
}